:root{
    --Pink: hsl(322, 100%, 66%);
    --VeryPaleCyan: hsl(193, 10;0%, 96%);
    --VeryDarkCyan: hsl(192, 100%, 9%);
    --GrayishBlue: hsl(208, 11%, 55%);
}

*,*:before,*:after{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html{
    font-size: 18px;
}

body{
    font-family: 'Open Sans', sans-serif;

}

.heading, button{
    font-family: 'Poppins', sans-serif;
    /* ### Headings */
}

button{
    outline: none;
    cursor: pointer;
    border: none;
    border-radius: 2rem;
    padding: 0.5rem;
}
button:hover{
    opacity: 0.7;
}

.section{
    padding: 2rem;
    width: 100%;
    height: auto;
}


.intro{
    background: no-repeat url(images/bg-hero-desktop.svg);
    background-size: cover;
    background-color: rgba(188, 234, 255, 0.938);
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 45px;
}
.header img{
    width: 22%;
    min-width: 11.5rem;
}
.header button{
    width: 15%;
    min-width: 8.8rem;
    background: white;
    box-shadow: 3px 3px 5px rgba(75, 75, 75, 0.233);
    font-weight: 700;
}

.intro .container{
    display: grid;
    grid-template-columns: 0.9fr 1fr;
    grid-gap: 1rem;
    align-items: center;
    margin: 3rem 0;
}
.intro .hero{
    width: 100%;    
    justify-self: center;
    max-height: none;

}

.textBox > *{
    margin: 1.2rem 0.8rem;
}

.heading{
    font-size: 2.5rem;
    font-weight: 700;
}
.start{
    color: white;
    width: 40%;
    padding: 1rem 0.5rem;
    background-color: var(--Pink);
    box-shadow: 2px 2px 4px rgba(75, 75, 75, 0.151);
    min-width: 17.5rem;
}

.about{
    padding: 4rem;
    margin-bottom: 30vh;
    height: auto;
}
.about .text{
    color: hsl(218, 3%, 51%);
}
.about .heading{
    font-size: 1.8rem;
    font-weight: 700;
}
.about .container{
    margin: 2rem 0;
    padding: 1.5rem;
    border-radius: 1rem;
    box-shadow: 3px 3px 10px rgba(75, 75, 75, 0.233);
}
.grow, .your{
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: 0.85fr 1fr;
    align-items: center;
}

.hero{
    width: 80%;
    justify-self: center;
    max-height: 21rem;
}

.flowing{
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: 1fr 0.9fr;
    align-items: center;
}
.flowing .hero{
    order: -1;
}

svg{
    fill: white;
}

.footer{
    padding: 4rem;
    background-color: var(--VeryDarkCyan);
    color: white;

}
.footer .text{
    padding: 0;
}
.footer .container{
    margin-top: 20vh;
    display: grid;
    grid-template-columns: 1.5fr 0.5fr 0.5fr auto;
    grid-template-rows: auto 1fr;
    grid-gap: 2rem;
}
.detailBox > *, .box > *{
    margin-bottom: 1rem;
}
.detailBox{
    display: grid;
    grid-template-columns: auto 1fr;
    grid-gap: 1rem;
    align-items: flex-start;
}
.detailBox img{
    width: 20px;
    height: 20px;
    margin-top: 0.3rem;

}
.footer .logo{
    grid-column: 1 / -1;
}

.icons  {
    justify-self: center;
}
.icons  img{
    margin: 0 0.3rem;
}
.copy{
    text-align: right;
}


.signUp{
    width: 60%;
    padding: 4rem 2rem;
    text-align: center;
    background-color: #fff;
    color: black;
    box-shadow: 3px -3px 5px rgba(75, 75, 75, 0.233);
    border-radius: 0.5rem;
    position: absolute;
    top:-10rem;
    margin: 0 15%;
    z-index: 100;
    
}
.signUp >*{
    margin: 1rem;
}
.signUp .heading{
    font-size: 1.8rem;
}

.footer{
    position: absolute;
    z-index: -2;
}

@media(max-width:850px){
    html{
        font-size: 13px;
    }
    .header img{
        width: 20%;
        min-width: 11.5rem;
        height: 50%;
    }
}


@media(max-width:600px){
    .intro .container{
        grid-template-columns: 1fr;
        grid-gap: 0.5rem;
        margin: 2rem 0;
        text-align: center;
    }
    .intro .hero{
        width: 100%;    
    }
    .start{
        color: white;
        width: 50%;
        padding: 0.5rem;
    }

    .about{
        padding: 2rem 0.5rem;
        margin-bottom: 30vh;
    }
    .about .heading{
        font-size: 1.5rem;
    }
    .about .container{
        margin: 2rem auto;
        padding: 1.5rem;
    }
    .grow, .your, .flowing{
        display: grid;
        grid-gap: 1rem;
        grid-template-columns:  1fr;
        align-items: center;
        justify-items: center;
        text-align: center;
    }
    
    .about .hero{
        order: -1;
    }
    
    .footer{
        padding: 1rem 2rem;
    }

    .footer .container{
        margin-top: 25vh;
        grid-template-columns: 1fr;
        grid-gap: 1rem;
    }

    .detailBox img{
        width: 15px;
        height: 15px;
    }

    .copy{
        margin: 1rem 0;
        text-align: center;
    }

    .signUp{
        width: 90%;
        padding: 3rem 0rem;
        margin: 0;
    }
    
}